.w-20{
    width:20%;

}
.w-30{
    width:30%;
}
.w-50{
    width:50%;
}
.w-80{
    width:80%;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%; /* adjust as needed */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  object-fit: cover; /* ensures video covers the area */
}