.w-20{
    width:20%;

}
.w-30{
    width:30%;
}
.w-50{
    width:50%;
}
.w-80{
    width:80%;
}
.video-container {
  position: relative;
  width: 100%;
  height: 100%; /* adjust as needed */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  object-fit: cover; /* ensures video covers the area */
}

.responsive-text {
  max-width: 600px;   /* limits how wide the text can go */
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
/* VideoConsultation.css */
.video-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
}

.local-video, .remote-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

