.w-20{
    width:20%;

}
.w-30{
    width:30%;
}
.w-50{
    width:50%;
}
.w-80{
    width:80%;
}
.video-container {
  position: absolute;
  right: 0;         
  top: 5;           
  width: 50%;        /* right half of the screen */
  height: 50%;      /* full height */
  overflow: hidden;
  z-index: -1;
  flex-wrap: wrap;       /* behind other content */
}

.video-container video {

  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  object-fit: cover; /* ensures video covers the area */
}

.responsive-text {
  max-width: 600px;   /* limits how wide the text can go */
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

 .remote-video video, .local-video video {
  width: 100%;       /* fill container width */
  height: 100%;      /* fill container height */
  /* object-fit: cover; cover the container area */
}
.btn-color{
    background-color:#052C65;
    color:white;
}
.btn-color:hover {
        background-color:#021634;
        color:white;
    };
.btn-primary-emphasis{
    background-color:#E0ECFF;
}
.nav-link{
  white-space: nowrap;
  line-height: 1.2;
}
.dropdown-toggle{
  white-space: nowrap;
  line-height:1.2;
}