.w-20{
    width:20%;

}
.w-30{
    width:30%;
}
.w-50{
    width:50%;
}
.w-80{
    width:80%;
}
.video-container {
  position: fixed;
  right: 0;         
  top: 5;           
  width: 50%;        /* right half of the screen */
  height: 50%;      /* full height */
  overflow: hidden;
  z-index: -1;
  flex-wrap: wrap;       /* behind other content */
}

.video-container video {
  width: 100%;       /* fill container width */
  height: 100%;      /* fill container height */
  /* object-fit: cover; cover the container area */
}